.tooltip {
  visibility: visible;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
}

.hide-tooltip {
  visibility: hidden;
}

.tooltip::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  top: 35%;
  left: -6px;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  background-color: white;
}
